---
---

//
// IMPORTS
//

@use "reset";
@use "variables";
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@use "highlights";
@use "svg-icons";

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
	max-width: 100%;
}

body {
	background: variables.$white;
  font: 18px/1.4 variables.$helvetica;
  color: variables.$darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

.videoplayer{

    text-align: center;
    vertical-align: middle;

    /* background-color:#000000; */

    margin: 0;
    padding: 0;

    width: 100%;
    /*height:420px;*/

    overflow:hidden;

    top: 0;
    bottom: 0;

}

.auto-resizable-iframe {
    width:100%;
   /* max-width:75%;*/
    margin: 0px auto;
}

.auto-resizable-iframe > div {
    position: relative;
/*    padding-bottom:75%;
    padding-right:25%; */
    height: 0px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: variables.$georgia;
  color: variables.$darkerGray;
 /* font-weight: bold;*/

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include variables.mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  font-family: variables.$georgia;
  a {
    color: inherit;
  font-family: variables.$georgia;
  white-space: nowrap;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: variables.$gray;
}

p {
  margin: 15px 0;
}

a {
  color: variables.$blue;
  /* text-decoration: none; DAS */
	cursor: pointer;
  &:hover, &:active {
    color: variables.$blue;
  }
}

.active {
	color: variables.$blue;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.img_40 {
	width: 40%;
	float: right;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: variables.$gray;
}

// Specify the color of the selection
::-moz-selection {
  color: variables.$black;
  background: variables.$lightGray;
}
::selection {
  color: variables.$black;
  background: variables.$lightGray;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.masthead {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid variables.$lightGray;

  @include variables.mobile {
    //text-align: center;
  }
}

.logo_n_title {
	display: flex;
	justify-content: center;
}

.site-avatar {
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include variables.mobile {
    display: block;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include variables.mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
	text-align: left;
  margin: 0;
  color: variables.$darkGray;
  cursor: pointer;
  font-family: variables.$helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
	text-align: left;
  margin: -5px 0 0 0;
  color: variables.$gray;
  font-size: 16px;

  @include variables.mobile {
    margin: 3px 0;
  }
}

nav {
  justify-content: center;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: variables.$helveticaNeue;
  font-size: 18px;

  @include variables.mobile {
	  justify-content: center;
	  width: 50%;
	  max-width: 15em;
	  padding: 15px;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    color: variables.$darkGray;
    text-align: center;
    padding: 14px 16px;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;

    @include variables.mobile {
      margin: 0 10px;
      color: variables.$blue;
    }
  }
}

nav .icon {
	display: none;
}

@media screen and (max-width: 850px) {
	nav a {
		display: none;
	}
	nav a.icon {
		display: block;
		align-self: center;
	}

	nav.responsive {position: relative;}
	nav.responsive .icon {
	}

	nav.responsive a:not(:first-child) {
		float: none;
		display: block;
		text-align: center;
	}
}

//
// .main
//
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid variables.$gray;
    padding: 0.1em 1em;
    color: variables.$gray;
    font-size: 22px;
    font-style: italic;
  }
.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid variables.$lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {


  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: variables.$lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

 .rotate-hor-center {
        -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }


/* rotate translate button */

/* ----------------------------------------------
 * Generated by Animista on 2020-4-15 17:1:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-hor-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}

